.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.toggle-off {
	background-color: #ffffff;
	color: #337ab7;
}

.slider-track {
  z-index: -1;
}

#slider1 .slider-track {
	background: #BABABA;
}

#slider2 .slider-track-high {
	background: #ffffff;
}
#slider2 .slider-selection {
	background: #BABABA;
}